#menu {
position:absolute;
margin: 0;
padding: 0;
height: 2em;
border-width: 0 0 1px 0;
border-style: solid;
}

#menu li {
margin: 0;
padding: 0;
float: left;
height: 2em;
width: 10em;
display: inline;
list-style-type: none;
position: relative;
line-height: 2em;
}

#menu li a:link,

#menu li a:visited {
margin: 0;
padding: 0;
text-decoration: none;
color: #000;
background: transparent;
float: left;
width: 9em;
text-align: center;
font-weight: bold;
}
#menu li a:hover {
background: transparent; 
color: #c00;
}

#menu li ul {
display: none;
margin: 0;
padding: 0;
background: #f1f1f1;
color: #000;
border: 1px solid;
width: 10em;
}
#menu li ul li {
list-style: none;
margin-left: 0;
padding-left: 0;
border-bottom: 1px solid;
}

#menu li ul li a:link,

#menu li ul li a:hover {
display: block;
margin: 0;
padding: 0;
text-align: center;
background: transparent;
color: #000;
width: 9em;
font-weight: bold;
}

#menu li ul li a:hover {
background: #fff;
color: #c00;
}


#menu li:hover ul {
display: block;
position: absolute;
top: 2em;
left: 0;
}


/* gestione delle finestre con risposta immediata */

#smallImage {
	left: 3px; 
	top: 4px;
	position:relative;
}
#smallWindow {
	width: 220px; 
	height: 80px;
	border-style:inset;
}

#smallUserWindow {
	width: 220px; 
	height: 57px;
	border-style:inset;

}

div#requestLabel {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	position:relative; 
	left: 56px; 
	top: -50px; 
	width: 161px; 
	height: 42px;
	bottom: 50px;
	font-size:10px;
}

input#acceptButton {
	position:relative;
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6B6B6B; 
	left: 92px; 
	top: -43px; 
	width: 58px; 
	height: 22px;
}
 
input#denyButton {
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6B6B6B;
	position:relative; 
	left: 95px; 
	top: -43px; 
	width: 58px; 
	height: 22px;
}

input#feedbackButton {
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6B6B6B;
	position:relative; 
	left: 154px; 
	top: -43px; 
	width: 58px; 
	height: 22px;
}


div.notification{
	position:absolute;
	width:250px;height:250px;
    background:url('../boxbk.png') no-repeat left top;
    padding:1px 0;font-size:10px
}

div.notification-inner{
	overflow:auto;
    margin:25px 24px 0;
    padding-right:2px
}
/* gestione delle tab */

div#navigation {
	background-color: #fff;
	border-bottom: 1px solid #787878;
	padding-left: 20px
}

div#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap
}

div#navigation li {
	display: inline;
	margin: 0;
	padding:0
}

div#navigation li a {
	text-decoration: none;
	border: 1px solid #787878;
	padding: 0px 0.3em;
    background: #ccc;
    color: #036
}

div#navigation li a:hover {
	background-color: #f0f0f0
	}

div#navigation li#activelink a {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	color: #603
}


/* altro css */
.absolute {
	position: absolute;
}
* {
	margin: 0;
	padding: 0;
}

body {
	background: #F6F6F6;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6B6B6B;
	width: 1250px; 
	height: 1071px; 
	left: 180px; 
	top: 0px; 
	margin-left: 106; 
	margin-top: 0;
	position:absolute;
}

input, textarea {
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6B6B6B;
}

h1, h2, h3, h4 {
	margin: 0;
}

h2, h3, h4 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #F2F2F2;
	letter-spacing: -0.035em;
	font-weight: normal;
	color: #37404C;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 170%;
	text-align: justify;
}

ul, ol {
	margin-left: 3em;
}

ul#noMargin {
	list-style:none; 
	padding-left:0; 
	margin-left:0;
}

li#description {
	list-style:none;
}

dl.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

dl.list1 dt {
	float: left;
	width: 70px;
}

dl.list1 dd {
	margin-bottom: 10px;
}

dl.list1 a {
	color: #666666;
}

ul.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

ul.list2 li {
	float: left;
	margin: 0 18px 18px 0;
}

ul.list2 li.nopad {
	margin-right: 0;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	color: #FF5A00;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}

/* Wrapper */

#wrapper {
	margin: 0 auto;
	background: url('../images/img02.jpg') repeat-y;
	width: 956px; 
	left: 4px; 
	top: -3px; 
	height: 1066px; 
	position:absolute;
}

#wrapper2 {
	height: 135px;
	background: url('../images/img10.jpg') no-repeat left bottom;
}

/* Header */

#header {
	width: 961px;
	height: 140px;
	background: #087FE6 url('../images/img03.jpg') no-repeat;
	color: #000000;
}

/* Logo */

#logo {
	width: 959px; 
	height: 137px;
	float: left;
}

#logo h1 {
	margin: 0;
	padding: 90px 0 0 78px;
	letter-spacing: -3px;
	font-size: 40px;
	color: #FFFFFF;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 112px 78px 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	padding-left: 40px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	background: url('../images/img04.jpg') no-repeat;
}

/* Content */

#labelUser {
	position:absolute;
	left: 755px; 
	top: 95px;
}

#userImage {
	position:absolute;
	height:50px; 
	left: 860px; 
	top: 77px; 
	width:50px;
}

#content {
	float: left;
	width: 555px;
	padding: 0 0 0 76px;
}

.welcome {
	padding-top: 50px;
}

.welcome .title {
}

.welcome .title a {
	text-decoration: none;
	color: #37404C;
}

.welcome .title a:hover {
	text-decoration: underline;
}

.welcome .entry {
}

.welcome .meta {
	height: 16px;
	margin: 0;
	padding: 10px;
	background: url('../images/img07.jpg') repeat-x left bottom;
	line-height: normal;
}

.welcome .meta .posted {
	display: block;
	float: left;
}

.welcome .meta .permalink {
	display: block;
	float: right;
	padding-left: 17px;
	background: url('../images/img09.gif') no-repeat left center;
}

.welcome .meta .comments {
	display: block;
	float: right;
	padding: 0 30px 0 19px;
	background: url('../images/img08.gif') no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 186px;
	padding: 67px 76px 0 0;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

/* text header */

.headerText {
	color: #FFFFFF;
	text-align: center;
}

/* Widebar */

#widebar {
	margin: 0 50px;
	padding: 25px 28px 0 28px;
	background: #F2F2F2 url('../images/img11.gif') repeat-x;
}

#widebar #colA {
	float: left;
	width: 260px;
}

#widebar #colB {
	float: left;
	width: 260px;
	padding-left: 45px;
}

#widebar #colC {
	float: left;
	width: 186px;
	padding-left: 45px;
}

.headerTextForm {
	color: #000000;
	text-align: center;
}
