<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SWIM Back End</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/Error/PageNotFound.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error/InternalServerError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error/InternalServerError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/Error/InternalServerError.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadHomePageServlet</display-name>
    <servlet-name>LoadHomePageServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.LoadHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHomePageServlet</servlet-name>
    <url-pattern>/LoadHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAdminListServlet</display-name>
    <servlet-name>LoadAdminListServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.LoadAdminListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAdminListServlet</servlet-name>
    <url-pattern>/LoadAdminListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewAdminServlet</display-name>
    <servlet-name>AddNewAdminServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.AddNewAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewAdminServlet</servlet-name>
    <url-pattern>/AddNewAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAdminPasswordServlet</display-name>
    <servlet-name>ChangeAdminPasswordServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.ChangeAdminPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAdminPasswordServlet</servlet-name>
    <url-pattern>/ChangeAdminPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUserServlet</display-name>
    <servlet-name>ContactUserServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.ContactUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUserServlet</servlet-name>
    <url-pattern>/ContactUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbuseListServlet</display-name>
    <servlet-name>AbuseListServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.AbuseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbuseListServlet</servlet-name>
    <url-pattern>/AbuseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbilityListServlet</display-name>
    <servlet-name>AbilityListServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.AbilityListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbilityListServlet</servlet-name>
    <url-pattern>/AbilityListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterAbilityServlet</display-name>
    <servlet-name>FilterAbilityServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.FilterAbilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterAbilityServlet</servlet-name>
    <url-pattern>/FilterAbilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadUserProfileServlet</display-name>
    <servlet-name>LoadUserProfileServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.LoadUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserProfileServlet</servlet-name>
    <url-pattern>/LoadUserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendUserMessageServlet</display-name>
    <servlet-name>SendUserMessageServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.SendUserMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendUserMessageServlet</servlet-name>
    <url-pattern>/SendUserMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BanUserServlet</display-name>
    <servlet-name>BanUserServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.BanUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BanUserServlet</servlet-name>
    <url-pattern>/BanUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbilityEditorServlet</display-name>
    <servlet-name>AbilityEditorServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.AbilityEditorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbilityEditorServlet</servlet-name>
    <url-pattern>/AbilityEditorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbilityCreatorServlet</display-name>
    <servlet-name>AbilityCreatorServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.AbilityCreatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbilityCreatorServlet</servlet-name>
    <url-pattern>/AbilityCreatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactAdminServlet</display-name>
    <servlet-name>ContactAdminServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.ContactAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactAdminServlet</servlet-name>
    <url-pattern>/ContactAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelAbilityServlet</display-name>
    <servlet-name>CancelAbilityServlet</servlet-name>
    <servlet-class>it.polimi.ingsw2.swim.admin.CancelAbilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAbilityServlet</servlet-name>
    <url-pattern>/CancelAbilityServlet</url-pattern>
  </servlet-mapping>
</web-app>