/*
Popup Contact Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
All the style elements use form id selector(notice the #ability). So, including this
stylesheet does not affect the other elements at all!
*/

#ability fieldset
{
   width:320px;
   padding:20px;
   border:1px solid #ccc;
   border-radius: 10px;   
}

#ability legend, h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}

#ability label
{
   font-family : Arial, sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

#ability input[type=text], textarea
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
  border-radius: 5px;

}

#ability input[type=text]
{
  height:18px;
  width:220px;
}

#ability #scaptcha
{
  width:60px;
  height:18px;
}

#ability input[type=submit]
{
   width:100px;
   height:30px;
   padding-left:0px;
}

#ability textarea
{
  height:120px;
  width:310px;
}

#ability input[type=text]:focus, textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#ability .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#ability .error
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#ability fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#ability fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#ability .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 0.6em;
   color:#333;   
}

#fg_container_header
{
   height:30px;
   background:#000066;
   border-top-right-radius:10px;
   border-top-left-radius:10px;
  
}

#fg_container_header a
{
   color:#fff;
   font-family:Verdana,Arial;
   font-size:10pt;
   font-weight:bold;
}

#fg_box_Title
{
   float:left;
   width:180px;
   margin:5px;
   
   color:#fff;
   font-family:Verdana,Arial;
   font-size:12pt;
   font-weight:bold;   
}

#fg_box_Close
{
   float:right;
   width:80px;
   margin:5px;
}

#fg_form_InnerContainer
{
   margin:15px;
}

#fg_form_InnerContainer h2
{
   font-family : Arial, sans-serif;
   font-size: 14pt;
   font-weight:bold;
   color:#333;     
}

#fg_form_InnerContainer p
{
   font-family : Arial, sans-serif;
   font-size: 12pt;
   color:#333;
}

#fg_backgroundpopup
{
   position: fixed; 
   top:0; 
   left:0; 
   bottom:0; 
   right:0;
   
   background:#000000;
   opacity: .3;
   border:1px solid #cecece;
   z-index:1;
   display:none;
}

#fg_submit_success_message
{
   display:none;
   padding:15px;
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#ability .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;  
}

#fg_crdiv p
{
    display:none;
}
